#loginPane, #registerPane {
	-fx-background-color: #fff;
	-fx-background-image: url(/images/back1.jpg);
	-fx-background-size: cover;
}

#loginLabel, #registerTitle {
	-fx-text-fill: #fff;
	-fx-effect: dropshadow(gaussian, #ffffff, 10, 0.1, 0, 0);
	/* 블루어 효과, 색상, 범위, 흩어짐, x, y */
}

#registerForm {
	-fx-background-color: rgba(230, 230, 230, 0.5);
	-fx-background-radius: 20px;
}

.btn {
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-text-fill:#fff;
}

.btn-success {
	-fx-background-color: #007bff;
	-fx-border-color:#007bff;
}

.btn-success:hover {
	-fx-background-color: #0069d9;
	-fx-border-color: #0062cc;
}

.btn-danger {
	-fx-background-color:#dc3545;
	-fx-border-color:#dc3545;
}

.btn-danger:hover {
	-fx-background-color:#c82333;
	-fx-border-color:#bd2130;
}

.active {
	-fx-border-color:GRAY;
	-fx-max-width:190px;
	-fx-max-height:190px;
}

.monthBtn {
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-text-fill:#000;
	-fx-background-color: none;
	-fx-border-color:none;
}

.activeMonth {
	-fx-text-fill:WHITE;
	-fx-background-color: GRAY;
	-fx-border-color:GRAY;
}








